
<style>
.multiline {
  white-space: pre-wrap;
}
</style>

<title> Tchelinux Live 2012 - Hello World </title>
<html>
  <center>
    <table border=0>
      <tr>
        <td>
          <h2> Tchelinux Live 2012 - Hello World </h2>
        </td>
      </tr>
    </table>
    <table border=0>
      <tr>
        <td>
          <img src="https://tchelinux.org/images/logo.png">
        <td>
        <td align="center">
          <h3>
{{ hostnamectl.stdout | regex_replace('\\n','<BR>')  }}
<br><br>
{{ docker_version.stdout | regex_replace('\\n','<BR>')  }}
          </h3>
        </td>
      </tr>
    </table>
  </center>
</html>

